<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Opis Database SQL Test Suite">
            <directory suffix="Test.php">./tests/SQL</directory>
        </testsuite>
        <testsuite name="Opis Database Schema Test Suite">
            <directory suffix="Test.php">./tests/Schema</directory>
        </testsuite>
    </testsuites>
</phpunit>